on:
  push:
  workflow_dispatch: # manual trigger via GitHub UI

jobs:
  build-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: "graalvm"
          java-version: "25"
          architecture: x64
          cache: maven
      - name: Build with Maven
        run: ./mvnw --batch-mode spring-boot:build-image
