on:
    push: # triggers on any push
        paths:
            - "**.java" # only run when a .java has changed
    workflow_dispatch: # manual trigger via GitHub UI

jobs:
    formatting:
        runs-on: ubuntu-latest
        permissions:
            contents: write # Required to push changes back to the repository
        steps:
            - name: Checkout
              uses: actions/checkout@v5

            - name: Set up Java
              uses: actions/setup-java@v5
              with:
                  distribution: "graalvm"
                  java-version: "25"
                  cache: maven

            - name: Format code with Maven Formatter Plugin
              run: ./mvnw spotless:apply

            - name: Commit chnages made by formatter
              run: |
                  git config --global user.name "github-actions[bot]"
                  git config --global user.email "github-actions[bot]@users.noreply.github.com"
                  git add -A

                  if git diff --cached --quiet; then
                   echo "No file changes to commit."
                  else
                   git commit -m "bot: formatting changes"
                   git push
                  fi
