on:
  push:
    paths:
      - "docs/*.puml" # only run when a .puml has changed
  workflow_dispatch: # manual trigger via GitHub UI

jobs:
  plantuml:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Required to push changes back to the repository
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: "graalvm"
          java-version: "25"
      - name: Install GraphViz
        run: sudo apt-get update && sudo apt-get install -y graphviz
      - name: Download PlantUML jar
        run: curl -L -o plantuml.jar https://github.com/plantuml/plantuml/releases/download/v1.2025.10/plantuml-v1.2025.10.jar
      - name: Render .puml to .svg
        run: |
          find ./docs -name '*.puml' -exec java -jar plantuml.jar -tsvg -o . {} +
      - name: Commit rendered diagrams
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add docs/*.svg

          if git diff --cached --quiet; then
              echo "No diagram changes to commit."
          else
              git commit -m "docs: auto-rendered PlantUML diagrams"
              git push
          fi
